div#placeholder {
	display: grid; 
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    width: 400px;
}

div.faceAndName {
	border: 1px solid #efefef;
}

div.faceAndName p {
	text-align: center;
}

div.faceAndName img {
	display: block;
	width: 100%;
}
